nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src="/static/Logos/octolion-white@2x.png", alt="")    
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x